@import "base/general.scss";

@import "utils/variables";
@import "utils/mixins";
@import "utils/keyframes";

@import "layout/headerhomepage";
@import "layout/searchhomepage";
@import "layout/howtohomepage";
@import "layout/blockrestaurants";
@import "layout/footer";

@import "components/buttonnew";
@import "components/buttonorder";
@import "components/buttonexplore";




/*-----header restaurants---*/
.restaurant-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  margin: 0 0 5px 0;
  position: relative;
  column-gap: 70px;   
  &__arrow {
    width: 40px;
    height: 34px;  
    position: absolute;  
    font-size: 22px;
    top: 20px;
    left: 30px;
    }
  &__logo {
    align-self: center;
    @media screen and (min-width:768px) and (max-width:991px) {
      transform: scale(1.25);
    }  
    @media screen and (min-width:992px) {
      transform: scale(1.5);
    }  
  }
}


 /*--------Banner-----*/
.board {
   height: 230px;
}

.board img {
    width: 100%;
    height: 330px;
    position: relative;
    top: -15px;
    margin: 0;
    object-fit: cover;
    @media screen and (min-width:768px) {
      height: 500px;
    }  
    @media screen and (min-width:992px) {
      height: 800px;
    }  
}


/*----block-menu----*/
.block-menu {
  height: 1150px;
  background-color:$secondary-bkg-color;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 55px 0 0 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  @media screen and (min-width:768px) and (max-width:991px)  {
    margin:180px 0 0 0;
  }
  @media screen and (min-width:992px) {
    margin:420px 0 0 0;
    height : 450px;
  }    
  
  &__title {
    margin:25px 0 20px 15px;
    font-family: shrikhand;
    font-weight: lighter;
    font-size: 30px;
    @media screen and (min-width:768px) {
      margin:25px 20px 15px;
      display:flex;
      justify-content: center;
    }  
  }

  /*heart*/
  &::before {
    @include icons(400,"\f004", 25px);
    right:35px;
    top: 30px;
    @include solid_heart;
      @media screen and (min-width:768px) {
      right: 130px;
      font-size: 30px;
    }
  }
 
  &::after {
    @include icons(900,"\f004", 25px);    
    right:35px;
    top:30px;
    @include gradient_heart;
      @media screen and (min-width:768px) {
      right: 130px;
      font-size: 30px;
    }
  }

  &:hover::after {
    opacity:1;
    transform: scale(1.2);    
  }
  /*heart*/

  &__row {
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 98%;
    margin: 1% 2%;
    @media screen and (min-width:992px) {
      display:flex;
      justify-content: center;
      flex-direction: row;
      height: 350px
    }  
  }
}

 
/*----contenu cards menu---*/
    
.menu {
  display: flex; 
  justify-content: center;
  align-items: center;
  @include card ($height: 75px, $width: 100%, $margin: 10px 0);
  padding: 10px;
  overflow: hidden;
  animation: 2s ease-in-out appear;
  animation-fill-mode: both;
  transform: scale(0);

  &:visited {
    color: $primary-font;
  }  

  &:hover  {
    filter: drop-shadow(5px 6px 2px $shadow-color);
    opacity: 80%;
  }

  &__display {
    @include ellipsis;
    flex: 1;
    justify-content: flex-start;
  }

  &__title {
    font-size: 18px;
    @include ellipsis;
  } 

  &__sub {
    @include ellipsis;
    font-size: 16px;
    @media screen and (min-width:992px) {
      font-size: 14px;
    }  
  }

  &__price  {
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    padding-left:6px;
    padding-top: 21px;
    @media screen and (min-width:992px) {
      font-size: 14px;
    } 
  }  

  &:hover &-checkbox {
    margin-right: -10px;
    transition-duration: 0.5s;
  }   

  &:hover &-checkbox ::before{
    margin-right: -0px;
    transition-duration: 0.5s;
    animation: rotation 0.5s ease-in-out;
  }    
}  

.menu-checkbox {
  background-color: #99E2D0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px ;
  padding: 5px;
  width: 65px;
  height: 75px;
  margin: -16px -80px -16px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition-duration: 0.5s;
  &__icon{
    color: $secondary-font;
    &::before{
     @include icons (900, "\f058", 25px);
      top: 22px;
      right: 22px;
      margin-right: -80%;
    }
  }
}

.animation-delay1 {
  animation-delay: 1.5s;
} 

.animation-delay2 {
  animation-delay: 3s;
}

/*---------Loader-----------*/

.loader-zone {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #F8F8FF;  
  animation: loader 4s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity:80%;
}

.spinner-container {
	width: 50px;
	height: 50px;
	clear: both;
	margin: 20px auto;
}


.spinner-circle {
	border-bottom: 6px $primary-color solid;
  border-top: 6px $secondary-color solid;
	border-radius: 50%;
	animation: spinner 1s infinite linear;
}


