/*restaurants cards*/

.block {
  height: auto;
  background-color:$secondary-bkg-color;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: space-between;
  margin: 50px 0 20px 0;
  padding: 40px 0 20px 0;

  &__title {
    margin: 19px 0 0 19px;
  }

  @media screen and (min-width:768px) {
    &__title {
    margin: 0;
    text-align: center;
    font-size: 26px;
    }
  }
}

.block-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  @media screen and (min-width:768px) {
    justify-content: space-around;
    flex-flow: row wrap;
  } 
  &--menu {
    height: fit-content;
    margin-bottom: 25px;
    padding: 0 8px 0 5px;
    width: 32%;

    @media screen and (min-width:768px) {
      flex-direction: column;
      justify-content: flex-start;
      margin: 5px;
      padding: 5px;
    }
    @media screen and (min-width:992px) {
      flex-direction: column;
      justify-content: flex-start;
      margin: 5px;
      padding: 5px;
    }
  }

  &__title {
    padding: 15px;
    margin: 0;
    font-weight: 400;
    font-size: 20px;

    &--menu {
      font-size: 19px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 50px;
        height: 3px;
        border-bottom: 3px solid #99E2D0;
        left: 15px;
        top: 40px;
      }
    }
  }
}

.card {
  @include card;

  &:visited {
    color: $primary-font;
  }  

  &:hover  {
    filter: drop-shadow(5px 6px 2px $shadow-color);
    opacity: 80%;
  }

  @media screen and (min-width:768px) {
    width: 45%;
    margin: 2%;
  } 

  @media screen and (min-width:992px) {
    height: 470px;
  } 
}

.card img {
  height: 170px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;   
  width: 100%;
  overflow: hidden;

  @media screen and (min-width:992px) {
    height: 370px;
  } 
}

.card__display {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 4%;

  &--title { 
    margin:0;
    font-size: 20px;
  }

  &--text { 
    margin:0;
  }

  /*heart*/
  &::before {
    @include icons(400,"\f004", 25px);
    right:35px;
    @include solid_heart;
    }

  &:hover::before{
    color: lighten($secondary-color, 25%);
  } 

  &::after{
    @include icons(900,"\f004", 25px);    
    right:35px;
    @include gradient_heart;
  }
  
  &:hover::after{
    opacity:1;
    transform: scale(1.2);    
  }  
  /*heart*/
}

.card__text{
  flex-direction: column;
  justify-content: flex-start;
}
