.btn-new {
    width: 90px;
    height: 25px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $tertiary-color;
    position: absolute;
    top:15px;
    right:10px;
    color: $tertiary-font;
    @media screen and (min-width:992px) {
      height: 45px;
      width: 150px;
      font-size: 20px;
    } 
  } 